{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<link rel="stylesheet" href="{{ STATIC_PREFIX }}crc.css">
<script type="text/javascript" src="{{ STATIC_PREFIX }}jquery-1.11.3.min.js"></script>
<script type="text/javascript">

    // Grab the temperature settings from the table and place
    // them in a string to be passed to the server.
    function get_temp_settings()
    {
        var i;
        var current_time = 0;
        var temp_str = '';

        for( i = 0; i < 10; i++ )
        {
            var time_id;
            var temp_id;

            var time_val;
            var temp_val;
            var time_secs;

            time_id = "#time-" + i;
            temp_id = "#temp-" + i;
            time_val = $(time_id).val();
            temp_val = $(temp_id).val();

            // Make sure there is an entry to parse.
            if ( time_val && temp_val )
            {
                // Validate entered time value is of the form 00:00
                if ( (parseInt( time_val.substring(0,2) ) == NaN ) ||
                     (parseInt( time_val.substring(3) ) == NaN ) ||
                     ( time_val.substring(2,3) != ":" ) )
                {
                    alert( "Time must be entered as 00:00" );
                    return temp_str;
                }

                time_secs = mm_ss_to_secs ( time_val );

                // Make sure consecutive times are entered.
                if ( time_val < current_time )
                {
                    alert( time_val + " is less than previous entry" );
                    return temp_str;
                }

                temp_str += time_secs + "," + temp_val + ";";
            }
        }

        return temp_str; 
    }

    // Save a profile
    function save_profile()
    {
        // Assemble the profile components.
        var notes = $("#profile_notes").val();
        var old_profile_name = $("#profile_name_old").html();
        var new_profile_name = $("#profile_name_new").val();

        var data = get_temp_settings();

        if ( data.length == 0 )
        {
            return;
        }

        $.ajax({
            url: "{% url 'profiles.views.save_profile' %}",
            type: "POST", 
            data: {
                      'csrfmiddlewaretoken': '{{ csrf_token }}',
                      'old_profile_name' : old_profile_name,
                      'new_profile_name' : new_profile_name,
                      'notes' : notes,
                      'data' : data,
                  },
            error: function(error) {
                alert("error saving profile");
            },
            success: function(response){
                $("#profile_view").hide();
                location.reload();
            }
        });
    }

    function load_profile(profile_file)
    {
        var urlStr = "{% url 'profiles.views.load_profile' 'placeholder' %}";
        urlStr = urlStr.replace('placeholder',  profile_file);

        $.ajax({
                url:      urlStr,
                type:     "POST",
                data: {
                       'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                async:    false,
                success:  function(data) {
                    window.location.href = "{% url 'control.views.index' %}";
                },
                failure: function(data) {
                    alert("load profile fail" + data);
                }
        });
    }

    // Convert 00:00 (mm:ss) to seconds.
    function mm_ss_to_secs( time_mm_ss )
    {
        var time_parts = time_mm_ss.split(':');
        return (60 * parseInt(time_parts[0])) + parseInt(time_parts[1]);
    }

    // Convert seconds to 00:00 (mm:ss)
    function secs_to_mm_ss( time_secs )
    {
        // Calculate the number of minutes
        var num_mins = parseInt(time_secs/60);
        // The seconds are what remains after accounting for the minutes.
        var num_secs = time_secs - (num_mins * 60);

        // Pad with leading '0'.
        var mins_pad = ('0' + num_mins).slice(-2);
        var secs_pad = ('0' + num_secs).slice(-2);

        return mins_pad + ":" + secs_pad;
    }

    // Take the data returned from the server and populate the
    // 10 slots in the display table.
    function parse_profile_data( data )
    {
        var i;

        for( i = 0; i < data.length; i++ )
        {
            var time_id;
            var temp_id;
            var int_parts = data[i].split(',');
            time_id = "#time-" + i;
            temp_id = "#temp-" + i;
            $(time_id).val( secs_to_mm_ss( parseInt( int_parts[0] ) ) );
            $(temp_id).val( parseInt(int_parts[1]) );
        } 
    }

    // Delete a profile
    function delete_profile( profile_file )
    {
        // First make sure an edit in process.
        if ( $("#profile_view").is(":visible") )
        {
            alert("Please save profile before deleting a profile.");
            return;
        }

        // Disable all buttons except the save button.
        $("#profiles input").attr('disabled', 'disabled');

        $.ajax({
            url:  "{% url 'profiles.views.delete_profile' %}",
            type: "POST",
            data: {
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                   'profile_name' : profile_file
            },
            success: function(data) {
                location.reload();
            },
            failure: function(data) {
                alert("retrieve profile fail" + data);
            }
        });
    }

    // Edit a profile
    function edit_profile( profile_file )
    {
        // First make sure an edit is already in process.
        if ( $("#profile_view").is(":visible") )
        {
            alert("Please save profile before editing another.");
            return;
        }

        // Disable all buttons except the save button.
        $("#profiles input").attr('disabled', 'disabled');

        var urlStr = "{% url 'profiles.views.get_profile' 'placeholder' %}";
        urlStr = urlStr.replace('placeholder',  profile_file);

        $.ajax({
                url:      urlStr,
                dataType: "json",
                async: false,
                success: function(data) {
                $.each(data , function( key, val ) { 
                     if ( key == "name" )
                     {
                         $("#profile_name_old").html( val );
                         $("#profile_name_new").val( val );
                     }
                     if ( key == "notes" )
                     {
                         $("#profile_notes").html( val );
                     }

                     if ( key == "data" )
                     {
                         parse_profile_data( val );
                     }
                 });
                $("#profile_view").show();
                },
                failure: function(data) {
                    alert("retrieve profile fail" + data);
                }
        });
    }

    // Get the latest list of saved profiles.
    function get_profiles() 
    {
        $.ajax({
                 url: "{% url 'profiles.views.get_profiles' %}",
                 method: "GET",
                 dataType: "html"
              }).done(function( data ) {
                    $("#profiles").html(data);
        });
    }

    // Load up the list of profiles once the page is ready.
    $(document).ready(function() {
        get_profiles();

        $("#profile_view").hide();

    });
</script>
{% block content %}
<html>
    <head>
    <style>
    body {
        background-image: url("{{ STATIC_PREFIX }}images/background.jpg");
    } 
    </style>
    </head>
    <body>
        <div>
            <a href="{% url 'control.views.index' %}">
                <img height="27" width="27" src="{{STATIC_PREFIX}}images/control_icon.png">
            </a>
            <a href="{% url 'roasts.views.index' %}">
                <img height="25" width="25" src="{{STATIC_PREFIX}}images/log_icon.png">
            </a>
        </div>
        <div id="profiles">
        </div>
        <div id="profile_view">
            <div>
                <div id="profile_name_old" style="display:none;"></div>
                <b>Name</b><br>
                <input id="profile_name_new" type="text" style="width:140px;text-align:left"><br><br>
            </div>
            <div id="profile_data">
            <table>
                <tr>
                    <th>Time</th>
                    <th>Temp</th>
                </tr>
                <tr>
                    <td>
                    <input id="time-0" type="text" maxlength="5" size="5">
                    </td>
                    <td>
                    <input id="temp-0" type="number" min="0" max="500" step="25">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="time-1" type="text" maxlength="5" size="5">
                    </td>
                    <td>
                    <input id="temp-1" type="number" min="0" max="500" step="25">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="time-2" type="text" maxlength="5" size="5">
                    </td>
                    <td>
                    <input id="temp-2" type="number" min="0" max="500" step="25">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="time-3" type="text" maxlength="5" size="5">
                    </td>
                    <td>
                    <input id="temp-3" type="number" min="0" max="500" step="25">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="time-4" type="text" maxlength="5" size="5">
                    </td>
                    <td>
                    <input id="temp-4" type="number" min="0" max="500" step="25">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="time-5" type="text" maxlength="5" size="5">
                    </td>
                    <td>
                    <input id="temp-5" type="number" min="0" max="500" step="25">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="time-6" type="text" maxlength="5" size="5">
                    </td>
                    <td>
                    <input id="temp-6" type="number" min="0" max="500" step="25">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="time-7" type="text" maxlength="5" size="5">
                    </td>
                    <td>
                    <input id="temp-7" type="number" min="0" max="500" step="25">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="time-8" type="text" maxlength="5" size="5">
                    </td>
                    <td>
                    <input id="temp-8" type="number" min="0" max="500" step="25">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="time-9" type="text" maxlength="5" size="5">
                    </td>
                    <td>
                    <input id="temp-9" type="number" min="0" max="500" step="25">
                    </td>
                </tr>
            </table>
        </div>
            <textarea id="profile_notes" rows="8" cols="50">
            </textarea>
            <button id="profile_save" type="button" onclick="save_profile(); return false;">Save</button>
        </div>
    </body>
</html>
{% endblock %}
