<form method="GET" action=".">
<table>
    {% for profile in profiles %}
    <tr>
        <td>{{ profile.file_name }}</td>
        <td><input type="submit" value="edit" onclick="edit_profile('{{ profile.file_name }}'); return false;"></td>
        <td><input type="submit" value="delete" onclick="delete_profile('{{ profile.file_name }}'); return false;"></td>
        <td><input type="submit" value="load" onclick="load_profile('{{ profile.file_name }}'); return false;"></td>
    </tr>
    {% endfor %}
</table>
</form>
