{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<link rel="stylesheet" href="{{ STATIC_PREFIX }}crc.css">
<script type="text/javascript" src="{{ STATIC_PREFIX }}jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}Chart.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}elfchart.js"></script>
<script type="text/javascript">
    var temp_chart;

    function create_elfchart()
    {
        var ctx = $("#chart_canvas").get(0).getContext("2d");
        
        yaxis = new ElfChartAxis( 0, 500, 100, undefined );
        xaxis = new ElfChartAxis( 0, 60 * 12, 60, conv_to_min_sec );

        temp_chart = new ElfChart( 0, 0, 650, 375, xaxis, yaxis, ctx );

        temp_chart.initialize();
        temp_chart.add_data_set("temp_set", "black", [], []);
        temp_chart.add_data_set("temp_act", "red", [], []);
    }

    // Add data from roast file to chart.
    function add_data_to_chart( data )
    {
       var start_time;

       for( var i = 0; i < data.length; i++ )
       {
           var chart_point = data[i].split(',');

           if ( i == 0 )
           {
               start_time = parseFloat(chart_point[0]);
           }

           var elapsed_time = parseFloat( chart_point[0] ) - start_time;

           temp_chart.add_data( elapsed_time, 
                                [chart_point[1], chart_point[2]] );
       }
    }

    // Add markers from roast file to chart.
    function add_markers_to_chart( data )
    {
       var markers = data.split(',');

       for( var i = 0; i < markers.length; i++ )
       {
           temp_chart.add_vert_line( markers[i] , 1.5 );
       }
    }

    // Load a particular roast file
    function get_roast_file(roast_file)
    {
        var urlStr = "{% url 'roasts.views.get_roast' 'placeholder' %}";
        urlStr = urlStr.replace('placeholder',  roast_file);

        $.ajax({
                url:      urlStr,
                dataType: "json",
                async: false,
                success: function(data) {
                         $.each(data , function( key, val ) { 
                             if ( key == "notes" )
                             {
                                 $("#notes_txt").html( val );
                             }

                             if ( key == "data" )
                             {
                                 create_elfchart();
                                 add_data_to_chart( val ); 
                             }
                             if ( key == "markers" )
                             {
                                 add_markers_to_chart( val ); 
                             }
                         });
                    $("#roast_view").show();

                },
                failure: function(data) {
                    alert("retrieve roast fail" + data);
                }
        });
    }

    // Export a particular roast file as a csv
    function export_roast_file(roast_file)
    {
        var urlStr = "{% url 'roasts.views.get_roast_file' 'placeholder' %}";
        urlStr = urlStr.replace('placeholder',  roast_file);

        var a = document.createElement('a');
        a.download = roast_file;
        a.href = urlStr;
        a.click();
    }

    // Export a particular roast file as an image
    function export_image_file(roast_file)
    {
        get_roast_file( roast_file );

        var a = document.createElement('a');
        var image_filename = roast_file.split('.')[0];
        var notes = $("#notes_txt").html();
        var canvas = document.getElementById("chart_canvas");
        var ctx = canvas.getContext("2d");

        var note_loc = temp_chart.height_unpadded + 
                       temp_chart.height_unpadded * 0.10;

        add_notes_to_canvas( note_loc, notes, ctx );

        image_filename += ".png";
        a.download = image_filename;
        a.href = canvas.toDataURL("image/png");
        a.click();

        clear_canvas( canvas.width, canvas.height, ctx );
    }

    // Make a roast into a profile.
    function make_profile(roast_file)
    {
        var urlStr = "{% url 'roasts.views.make_profile' 'placeholder' %}";
        urlStr = urlStr.replace('placeholder',  roast_file);

        $.ajax({
                url:      urlStr,
                dataType: "text",
                error: function(data){
                    alert(data);
                },
                success: function(data, textStatus) {
                    window.location.href = "{% url 'profiles.views.index' %}";
                },
                failure: function(data) {
                    alert("make profile failed for " + data);
                }
        });
    }

    // Get the latest list of saved roasts.
    function get_roasts() 
    {
        $.ajax({
                 url: "{% url 'roasts.views.get_roasts' %}",
                 method: "GET",
                 dataType: "html"
              }).done(function( data ) {
                    $("#roasts").html(data);
        });
    }

    $(document).ready(function() {
        get_roasts();

        $("#roast_view").hide();

    });
</script>
{% block content %}
<html>
    <head>
    <style>
    body {
        background-image: url("{{ STATIC_PREFIX }}images/background.jpg");
    } 
    </style>
    </head>
    <body>
        <div>
            <a href="{% url 'control.views.index' %}">
                <img height="27" width="27" src="{{STATIC_PREFIX}}images/control_icon.png">
            </a>
            <a href="{% url 'profiles.views.index' %}">
                <img height="25" width="25" src="{{STATIC_PREFIX}}images/profile_icon.png">
            </a>
        </div>
        <div id="roasts">
        </div>
        <div id="roast_view">
            <div id="historic_chart">
                <canvas id="chart_canvas" width="700" height="700"></canvas>
            </div>
            <div id="historic_notes">
                <textarea disabled id="notes_txt" rows="8" cols="50">
                </textarea>
            </div>
        </div>
    </body>
</html>
{% endblock %}
